.bg-dark
    background-color: #101010 !important
    //background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAE9JREFUKFNjdG5I/M/AwMDw6ekbEMXAJy0CptH5jCCFyIK42Iymqb5gE0EmwRSBjUQTAytEVoTNapABGFbDTEN3J/EKibaaaM8QHTzEBjgAWRlcdRNqiBAAAAAASUVORK5CYII='), repeat
    //background-color: #35654d !important
    //background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png")
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

/* Helpers */
.vh-100
    height: 100vh

/* Game Page*/
.game-row
    margin-bottom: 4.5rem

/* Slots */
.poker-card-slot
    width: 100px
    border-radius: 5px
    background-color: transparent
    color: #313149
    padding: 10px
    border: 2px solid #222222
    user-select: none

/* Cards */
.poker-card
    height: 138px
    width: 100px
    border-radius: 5px
    background-color: #0C0C0C
    color: #313149
    padding: 10px
    border: 2px solid #222222
    user-select: none

    &--selected
        border: 2px solid cyan

    &--hover-drop
        border: 2px solid yellow

    &:hover
        // hover fx

    &--top, &--bottom
        pointer-events: none
        padding: 0

    .icon
        pointer-events: none
        font-size: 15px
        padding: 2px 2px 0 0

    .icon-number
        transform: rotate(-180deg)
        font-size: 15px
        padding: 0 0 0 2px

    &--bottom
        .text-start, .text-end
            transform: rotate(180deg)

        .icon
            padding: 0 0 2px 2px

        .icon-number
            padding: 0 2px 0 0

    &--number
        pointer-events: none
        font-size: 60px
        font-weight: bold

    .gradient-text
        pointer-events: none
        background-color: transparent
        background-size: 100%
        background-repeat: repeat
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

    &--hidden
        background: radial-gradient(circle at top,transparent 60%, #222222 61%,#222222 66%, transparent 67%),radial-gradient(circle at bottom,transparent 60%, #222222 61%,#222222 66%, transparent 67%),radial-gradient(circle at left,transparent 60%, #222222 61%,#222222 66%, transparent 67%),radial-gradient(circle at right,transparent 60%, #222222 61%,#222222 66%, transparent 67%)
        background-size: 1em 1em
        background-color: #0c0c0c
        opacity: 1

    // Poker card types
    &--heart
        .gradient-text
            background-image: linear-gradient(0deg, #cE6f71, #cE0003)
        .icon, .icon-number
            font-weight: bold
            color: #cE6f71

    &--diamond
        .gradient-text
            background-image: linear-gradient(0deg, #cE6f71, #cE0003)
        .icon, .icon-number
            font-weight: bold
            color: #cE6f71

    &--club
        .gradient-text
            background-image: linear-gradient(0deg, #858585, #efefef)
        .icon, .icon-number
            font-weight: bold
            color: #858585

    &--spade
        .gradient-text
            background-image: linear-gradient(0deg, #858585, #efefef)
        .icon, .icon-number
            font-weight: bold
            color: #858585

// Deck cards position
$height: 138px

//Main deck
.main-decks
    margin: 0
    height: 40vh
    .poker-card
        position: relative
        top: #{-$height}
        margin-bottom: #{-$height}

//Other decks
.other-decks
    margin: 0
    height: 40vh
    .poker-card
        @mixin card-index($index)
            &.card-index-#{$index}
                position: relative
                top: calc(#{-$height} * $index + #{$index} * 20px - 20px)

        @for $i from 0 through 18 // Maximum stacked cards in a deck (19)
            @include card-index($i)
